<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Note the use of the raw output tag with the include which is used to avoid double-escaping the HTML output. -->
    <%- include('navbar', {links: links}) %>

    <!-- EJS Syntax -->
    <!-- the <% %> tags allow us to use JavaScript. -->
    <% const animals = ["Cat", "Dog", "Rat", "Elephant", "Pig"]; %>

    <ul>
        <% animals.map(animal => { %>
            <li><%= animal %>s are cute</li>
        <%})%>
    </ul>
    <h3>From res.locals <%= siteName %> and <%= currentUser.name %></h3>
</body>
</html>